.footer-container {
    margin-top: 50px;
    background-color: #ffffff;
    color: #fff;
}
.item-postion-2 {
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.item-position-3 {
    display: flex;
    align-items: stretch;
    margin: 0 75px;
}
.abt-header {
    text-align: center;
    padding: 10px;
}
.abt-body {
    padding: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items:center;
    flex: 1 1 auto;
}
.abt-body p {
    padding: 40px 0;
    color: #333;
    font-size: 1.3em;
}
.abt-body h2 {
    padding: 40px 0;
    color: #333;
    font-size: 1.3em;
}
.abt-body img {
    width: 50%;
    display: block;
}
.footer-container-2 {
    display: flex;
    height: 70px;
    color: #FFFFFF;
    padding: 0 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}
.align-one {
    flex-grow: 5;
    width: 50%;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.align-two {
    flex-grow: 5;
    width: 50%;
}
